<div class="page">
    <h1>Projects</h1>
    <h3 class="section-title"> 
        <a href="assets/pdfs/Astro_98_Research_Paper.pdf" target="_blank">
            Thesis on the ThinkSpace Curriculum
        </a>
    </h3>
    <hr>
    <li> 
        Researched the effectiveness of the ThinkSpace curriculum, a middle school astronomy 
        curriculum which embeds spatial strategies.
    </li>
    <li>
        Restructured data into a usable format, removed errors and unwanted data points,
         and transformed data points to ensure anonymity of subjects.
    </li>
    <li>
        Used Stata and Excel to perform statistical analysis including t-tests, effect size, and linear regression.
    </li>
    <li>
        Compiled research and results in a scientific paper and presented findings to the broader academic community.
    </li>

    <h3 class="section-title"> 
        <a href="assets/pdfs/A100_HR_Diagram_M67_Report_Isochrones.pdf" target="_blank">
            Hertzsprung-Russell Diagram of Messier 67
        </a>
    </h3>
    <hr>
    <li> 
        Spent three days at the Fred Lawrence Whipple Observatory on Mount Hopkins 
        in Arizona operating the two reflector telescopes.
    </li>
    <li>
        Performed photometry on the images and using Python, created a 
        Hertzsprung-Russell diagram of Messier 67.
    </li>
    <li>
        Used the data to determine the age of the open cluster.
    </li>

    <h3 class="section-title"> 
        <a href="ssets/pdfs/Math_121_Final_Paper.pdf" target="_blank">
            Linear Algebra as a Proof of Special Relativity
        </a>
    </h3>
    <hr>
    <li> 
        Replicated proof of Einstein's special relativity and the Lorentz transformations 
        using concepts from linear algebra.
    </li>
    <li>
        Based on the linear transformation of a space-time matrix from one reference 
        frame to another. 
    </li>

    <h3 class="section-title"> 
        <a href="ssets/pdfs/Math_130_Final_Paper.pdf" target="_blank">
            Possible Geometries of the Shape of the Universe
        </a>
    </h3>
    <hr>
    <li> 
        Derived the Friedman Equation which describes the curvature of the Universe.
    </li>
    <li>
        Discussed its implications and analysed the possible flat, spherical, or hyperbolic geometry of the Universe.
    </li>
</div>

