<div class="page">
  <form [formGroup]="gameForm">
    <div class="flex-container">
      <div id="away-team-label">
        <label>Away Team</label>
      </div>
      <div id="home-team-label">
        <label>Home Team</label>
      </div>
    </div>
    <div class="flex-container">
      <div id="away-team-select">
        <mat-form-field>
          <mat-select formControlName="awayTeam" [(value)]="selectedAwayTeam">
            <mat-option *ngFor="let team of nflTeams" [value]="team">{{
              team
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div id="home-team-select">
        <mat-form-field>
          <mat-select formControlName="homeTeam" [(value)]="selectedHomeTeam">
            <mat-option *ngFor="let team of nflTeams" [value]="team">{{
              team
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="model-input">
      <p>{{ selectedAwayTeam }} Score</p>
      <mat-form-field>
        <input
          matInput
          formControlName="awayScore"
          value="currentAwayScore"
          required
        />
        <mat-error *ngIf="gameForm.get('awayScore')?.invalid">{{
          getScoreError("awayScore")
        }}</mat-error>
      </mat-form-field>
    </div>

    <div class="model-input">
      <p>{{ selectedHomeTeam }} Score</p>
      <mat-form-field>
        <input
          matInput
          formControlName="homeScore"
          value="currentHomeScore"
          required
        />
        <mat-error *ngIf="gameForm.get('homeScore')?.invalid">{{
          getScoreError("homeScore")
        }}</mat-error>
      </mat-form-field>
    </div>

    <div class="model-input">
      <p>Possession Team</p>
      <mat-form-field>
        <mat-select
          formControlName="possessionTeam"
          [(value)]="currentPossessionTeam"
          required
        >
          <mat-option *ngFor="let team of playingTeams" [value]="team">{{
            team
          }}</mat-option>
        </mat-select>
        <mat-error *ngIf="gameForm.get('possessionTeam')?.invalid">{{
          getScoreError("possessionTeam")
        }}</mat-error>
      </mat-form-field>
    </div>

    <div class="button-row">
      <button
        mat-raised-button
        class="predict-button"
        [disabled]="isDisabled"
        (click)="onPredictClick()"
      >
        Predict Winner
      </button>
    </div>
  </form>
</div>
