<div class="page">
  <div>
    <h2 class="header">NFL Game Winner Prediction Model</h2>
  </div>
  <form [formGroup]="gameForm">
    <div class="input-row" id="input-teams">
      <div class="model-input">
        <p>Away Team</p>
        <mat-form-field>
          <mat-select formControlName="awayTeam" [(value)]="selectedAwayTeam">
            <mat-option *ngFor="let team of nflTeams" [value]="team">{{
              team
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="model-input">
        <p>Home Team</p>
        <mat-form-field>
          <mat-select formControlName="homeTeam" [(value)]="selectedHomeTeam">
            <mat-option *ngFor="let team of nflTeams" [value]="team">{{
              team
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="input-row">
      <div class="model-input">
        <p>{{ selectedAwayTeam }} Score</p>
        <mat-form-field>
          <input
            matInput
            formControlName="awayScore"
            value="currentAwayScore"
            required
          />
          <mat-error *ngIf="gameForm.get('awayScore')?.invalid">{{
            getScoreError("awayScore")
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="model-input">
        <p>{{ selectedHomeTeam }} Score</p>
        <mat-form-field>
          <input
            matInput
            formControlName="homeScore"
            value="currentHomeScore"
            required
          />
          <mat-error *ngIf="gameForm.get('homeScore')?.invalid">{{
            getScoreError("homeScore")
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="model-input">
        <p>Possession Team</p>
        <mat-form-field>
          <mat-select
            formControlName="possessionTeam"
            [(value)]="currentPossessionTeam"
            required
          >
            <mat-option *ngFor="let team of playingTeams" [value]="team">{{
              team
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="gameForm.get('possessionTeam')?.invalid">{{
            getScoreError("possessionTeam")
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="input-row" id="input-teams">
      <div class="model-input">
        <p>Quarter</p>
        <mat-form-field>
          <input
            matInput
            formControlName="quarter"
            value="currentQuarter"
            required
          />
          <mat-error *ngIf="gameForm.get('quarter')?.invalid">{{
            getQuarterError()
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="model-input">
        <p>Week</p>
        <mat-form-field>
          <input matInput formControlName="week" value="currentWeek" required />
          <mat-error *ngIf="gameForm.get('week')?.invalid">{{
            getWeekError()
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div>
      <button
        mat-raised-button
        class="predict-button"
        [disabled]="gameForm.invalid"
        (click)="onPredictClick()"
      >
        Predict Winner
      </button>
    </div>

    <div id="prediction">{{ prediction }}</div>
  </form>
</div>
