.mat-mdc-raised-button.predict-button {
  background-color: #5ba199;
  color: white;
  margin: auto;
  display: flex;
}

.mat-mdc-raised-button.predict-button:disabled {
  background-color: #bbc6c8;
  color: #e5e3e4;
}

.header {
  text-align: center;
}
.input-row {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.model-input {
  padding-bottom: 5px;
  display: inline-block;
}

#input-teams {
  margin-top: 10px;
  width: 34%;
}

#prediction {
  margin-top: 40px;
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
}
