<div class="page">
    <div>
        <img src="assets/images/portrait.jpg" alt="" width="100" height="100" id="photo"/>
        <h1>Nicole Gordon</h1>
        <p>Conshohocken, PA</p>
        <p>Email: <a href = "mailto: nicolegordon1001@gmail.com">nicolegordon1001@gmail.com</a></p>
    </div>
    <h2 class="section-title">Education</h2>
    <hr>
    <p class="exp-title">
        Eastern University, St. Davids, PA
        <span class="exp-year">
            2023
        </span>
    </p>
    <p>M.S. in Data Science</p>
    <p class="exp-title">
        Harvard College, Cambridge, MA
        <span class="exp-year">
            2021
        </span>
    </p>
    <p>B.A. in Mathematics and Astrophysics | GPA: 3.834</p>

    <h2 class="section-title">Professional Experience</h2>
    <hr>
    <p class="exp-title">
        Software Engineer
        <span class="exp-year">
            Dec 2022 - Present
        </span>
    </p>
    <p class="company">Lockheed Martin, King of Prussia, PA</p>
    <ul>
        <li> 
            Developed satellite communications software using Typescript, 
            HTML, and CSS in an Angular framework.
        </li>
        <li>
            Delivered code and unit tests every two weeks while working in 
            an Agile environment focused on CI/CD.
        </li>
        <li>
            Automated the data processing, aggregation, and visualization of 
            weekly metrics encompassing multiple contract sectors. Saved program 
            management over three hours per week.
        </li>
        <li>
            Created scripts that process and compile service ticket metrics to 
            help identify and mitigate the most inefficient areas impeding development.
        </li>
        <li>
            Maintained active DoD TS security clearance
        </li>
    </ul>

    <p class="exp-title">
        Applied Mathematician
        <span class="exp-year">
            Jun 2021 - Nov 2022
        </span>
    </p>
    <p class="company">Arcfield, King of Prussia, PA</p>
    <ul>
        <li>
            Utilized high-fidelity simulations to generate reports. Automated 
            creation of models and visualizations necessary for reports, saving 
            the team over two hours every week.
        </li>
        <li>
            Vectorized calculations of a mathematical model in Python, 
            reducing runtime by 90%.
        </li>
        <li>
            Performed in-depth trade studies on performance metrics of 
            critical space systems.
        </li>
        <li>
            Briefed system analysis to assist customer in making informed decisions.
        </li>
        <li>
            Planned, designed, coordinated, and evaluated system maintenance with 
            mission partners and stakeholders.
        </li>
        <li>
            Maintained active TS/SCI security clearance.

        </li>
    </ul>

    <h2 class="section-title">Skills</h2>
    <hr>
    <p>Python, Typescript, HTML, CSS, SQL, R, MATLAB, STK, modeling and simulation, 
        data analysis, systems engineering
    </p>
</div>